<div class="page-header page-header-small clear-filter" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('http://demos.creative-tim.com/now-ui-kit/assets/img/header.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title text-center">Our Services</h1>
                    <h3 class="description text-center">
                      From A to Z.
                    </h3>
                </div>
            </div>
</div>

<div class="section">
    <div class="container text-left">
      <p class="card-muted-title">Harry Potter - Minimalist Print Collection</p>
      <h2 class="title">The Collection</h2>
      <h5 class="description">
          2150 Times is a results-driven, digital marketing agency specializing in website design,
          mobile app development, and online marketing. 2150 Times’s mission is to create websites
          and digital solutions that help grow businesses online.
        </h5>
        <br  />
        <button class="btn btn-primary btn-lg btn-round hideme">More About Us</button>
    </div>
</div>

<div class="section">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="container">
        <h5 class="description">
            2150 Times is a results-driven, digital marketing agency specializing in website design,
            mobile app development, and online marketing. 2150 Times’s mission is to create websites
            and digital solutions that help grow businesses online.
        </h5>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="container text-left">
        <h2 class="card-muted-title">Durability</h2>
        <h2 class="title">Minimalist design printed on high quality aluminum</p>
        <h5 class="description">
            2150 Times is a results-driven, digital marketing agency specializing in website design,
            mobile app development, and online marketing. 2150 Times’s mission is to create websites
            and digital solutions that help grow businesses online.
        </h5>
          <br  />
      </div>
    </div>
  </div>

</div>

<div class="section">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="container">
        <div class="container text-left">
          <h2 class="card-muted-title">Design</h2>
          <h2 class="title">All-Metal Design</h2>
          <h5 class="description">
              The most durable and elegant harry potter print. front and back metal
              with brush aluminum finish. A color‑matched, aerospace‑grade aluminum
              band.
          </h5>
          <br  />
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="container text-left">
        <h5 class="description">
            2150 Times is a results-driven, digital marketing agency specializing in website design,
            mobile app development, and online marketing. 2150 Times’s mission is to create websites
            and digital solutions that help grow businesses online.
        </h5>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="container">
        <div class="container text-left">
          <p class="card-muted-title">Water - Dust Resistant</p>
          <h2 class="title">A Gift that lasts</h2>
          <h5 class="description">
              The most durable and elegant harry potter print. front and back metal
              with brush aluminum finish. A color‑matched, aerospace‑grade aluminum
              band.
          </h5>
          <br  />
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="container text-left">
        <h5 class="description">
            2150 Times is a results-driven, digital marketing agency specializing in website design,
            mobile app development, and online marketing. 2150 Times’s mission is to create websites
            and digital solutions that help grow businesses online.
        </h5>
      </div>
    </div>
  </div>
</div>


<div class="section">
    <div class="container text-left">
      <div class="row">
        <div class="col-12 col-md-6">
          <h5 class="description">
              The most durable and elegant harry potter print. front and back metal
              with brush aluminum finish. A color‑matched, aerospace‑grade aluminum
              band.
          </h5>
        </div>
        <div class="col-12 col-md-6">
          <div class="container text-left">
            <p class="card-muted-title">water and dust resistant</p>
            <h2 class="title">Durable prints to make lasting Gifts</h2>
            <h5 class="description">
                The most durable and elegant harry potter print. front and back metal
                with brush aluminum finish. A color‑matched, aerospace‑grade aluminum
                band.
            </h5>
            <br  />
          </div>
        </div>
      </div>
    </div>
</div>

<div class="section">
    <div class="container text-left">
      <div class="row">
        <div class="col-12 col-md-6">
          <p class="card-muted-title">Dimensions</p>
          <h2 class="title">Perfect fit for walls,  halls, night stand</h2>
          <p class="description">12 Inches x 18 Inches</p>
          <h5 class="description">
              The most durable and elegant harry potter print. front and back metal
              with brush aluminum finish. A color‑matched, aerospace‑grade aluminum
              band.
          </h5>
          <br  />
        </div>
        <div class="col-12 col-md-6">
          <h5 class="description">
              The most durable and elegant harry potter print. front and back metal
              with brush aluminum finish. A color‑matched, aerospace‑grade aluminum
              band.
          </h5>
        </div>
      </div>
    </div>
</div>

<div class="section">
    <div class="container text-left">
      <div class="row">
          <div class="col-12 col-sm-6">
            <h5 class="description">
              The most durable and elegant harry potter print. front and back metal
              with brush aluminum finish. A color‑matched, aerospace‑grade aluminum
              band.
            </h5>
          </div>
          <div class="col-12 col-sm-6">
            <p class="card-muted-title">3D Printing</p>
            <h2 class="title">Where minimalist design and 3D meets</h2>
            <h5 class="description">
                The most durable and elegant harry potter print. front and back metal
                with brush aluminum finish. A color‑matched, aerospace‑grade aluminum
                band.
            </h5>
            <br  />
          </div>
      </div>
    </div>
</div>
