<div class="page-header page-header-small clear-filter" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('http://demos.creative-tim.com/now-ui-kit/assets/img/header.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <h1 class="title text-center">
											Check Out
										</h1>
                    <h3 class="description text-center">
                      Back Soon
                    </h3>
                </div>
            </div>
</div>
<div class="cart_item">
	<%= render "carts/cart_item" %>
</div>
<div class="active cart">
<%= link_to "#{current_order.order_items.size} items in card and price #{current_order.subtotal}", carts_path %>
</div>
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key=""
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
<% end %>
